@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700;800&display=swap');

:root{
--bodyBg: #f2f5f8;
--bodyF: 'Montserrat', sans-serif;
--contentBg: #fff;    
--headerBg: #fff;	
--headC: #08102b ;
--boxM: 1em ;
--boxR: 6px ;
--boxL: 1px solid rgba(0,0,0,.05) ;

--keyC: #0066ff;/*#9c8321*/
--notyB: #24292F;
--notyC: #FFF;
--trans: all 0.3s ease;
}

*, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{    font-family: var(--bodyF);
    padding: 0;
    margin: 0;
    background: var(--bodyBg);
    color: #161616;
    line-height: 1.6;}
h1,h2,h3{}
h2{font-size: 48px;}
h3{font-size:38px}
header{background: var(--headerBg);margin:0;padding:0;line-height:1}
footer{margin:0;padding:10px 0;border-top:var(--boxL);line-height:1;text-align:center}
header a,footer a{text-decoration:none;color:#333}
p,div,table,ul,ol{margin:0}
ul{list-style: none;}
a:hover{color:#f00}
nav{padding:10px 0;}
nav a{padding-left:15px}
table{border-collapse:collapse}
th,td{border:1px solid gray;padding:2px 5px}
pre{border:1px solid #ccc;background-color:#f0f0f0;padding:5px}
code{padding:1px 2px}
input, button, select, textarea {
    font: inherit;
    font-size: 100%;
    color: inherit;
    line-height: normal;
}
input[type="text"]{width: 100%;
    margin: 0;
    padding: 16px;
    padding-left: 52px;
    font-size: inherit;
    line-height: 1;
    font-family: inherit;
    color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    outline: 0;
    border-radius: var(--boxR);
}
input[type="text"]:focus,select:focus{box-shadow: 0 0 0 1px var(--keyC);
}
input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 28px;
    height: 28px;
    border-radius: 30px;
    overflow: hidden;
    padding: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}
select{
display: inline-block;
    min-width: 120px;
    margin-right: 1em;
    padding: 8px 10px;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: var(--boxR);
    font-weight: 500;
    opacity: .8;}
input[type="range"]{box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 9999px;
    color: inherit;
    background-color: gray;
    background-color: #d1d5da;}
.box{background: var(--contentBg);padding: var(--boxM);border-radius: var(--boxR);box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);}


.secIn{margin: 0 auto;
    max-width: 1100px;}
.secNot{width: 100%;height: 40px;background: var(--notyB);color: var(--notyC);}
.headerCt{background: var(--headerBg);width:100%;transition:var(--trans);z-index: 3;}
.headerCt.sticky{ position: fixed;top:0;left:0;width:100%;-webkit-box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 6%);
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 6%);}
.headerTop{height: 60px; display: flex;align-items:center;     justify-content: space-between;}
.headerTop svg.logo{width: 40px;height: 40px;padding: 5px 0;fill: #000;}
.headerTop a {display: flex;align-items: center;}
.headerR{display: flex;align-items: center;}
.headerTop a span{font-weight: bold;}
.headerTop ul{display: flex;margin-right: var(--boxM);}
.headerTop ul li{margin-left: 10px;}

.int {display: flex;align-items: center;height: calc(100vh - 100px);text-align: center;}
.int h3{opacity: .7;}
.int .box{padding: 0;}
.filter{position: relative;display: flex;align-items: center;margin-top: 30px; box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    border: 0;}
.filter svg{position: absolute;opacity: .4;left: 10px;}
.filter input{padding-left: 40px;}

nav{background: var(--headerBg);
    position: -webkit-sticky;
    position: sticky;
    
    top: 60px;
border-top:var(--boxL);
border-bottom:var(--boxL);
z-index: 3;
}
nav >div{display: flex;
    align-items: center;
    justify-content: space-between;}
.detll{display: flex;align-items: center;}
.detll svg{width: 30px;height: auto;margin-left: var(--boxM);}
.boxCont{display: flex;margin: var(--boxM) 0;}
.boxCont main{width: calc(75% - var(--boxM)); margin-right: var(--boxM);}
.boxCont aside {width: 25%;}
.boxCont aside .sticky{ position: -webkit-sticky;
    position: sticky;
    top: 125px;   
}
aside .sticky >div{display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    height: 40px;}
aside .sticky >div label{width: 100px;}

.boxCont aside input[type="text"]{width: 100px;
    padding: 6px;}
main .gphs {display: flex;flex-wrap: wrap;}
main .gphs >div{width: calc(25% - var(--boxM));height: auto;margin-right: var(--boxM);margin-bottom: var(--boxM);}
main .gphs >div:nth-child(4n){margin-right: 0;}

.export{position: fixed;width: 100%;max-width: 1100px;bottom:var(--boxM);display: flex; align-items: center;justify-content:space-between ;z-index: 4;    box-shadow: 0 3px 10px 2px rgb(0 0 0 / 5%);}